<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css" media="screen">
    <link rel="stylesheet" href="css/main.css" media="screen">
  </head>
  <body>
    <header>
      <span class="octicon octicon-mark-github" id="giticon"></span>
      <input type="text" name="name" value="" placeholder="Search GitHub">
      <a href="#">Pull requests</a>
      <a href="#">Issues</a>
      <a href="#">Gist</a>
      <a href="#"><span class="octicon octicon-bell"></span></a>
      <a href="#"><span class="octicon octicon-plus"></span><span class="octicon octicon-triangle-down"></span></a>
    </header>
    <main>
      <section class="profile">
      </section>
      <nav class="repo-nav">
        <section class="top">
          <div class="contributions">
            <span class="octicon octicon-diff-added"></span> Contributions
          </div>
          <div class="repositories">
            <span class="octicon octicon-repo"></span> Repositories
          </div>
          <div class="activity">
            <span class="octicon octicon-rss"></span> Public Activity
          </div>
          <div class="buttons">
            <button type="button" class="edit"><span class="octicon octicon-pencil"></span> Edit profile</button>
          </section>
        </section>
        <section class="bottom">
          <input type="text" placeholder="Find a repository..." value="">
          <input type="button" name="name" value="Search">
          <section class="links">
            <a href="#">All</a>
            <a href="#">Public</a>
            <a href="#">Private</a>
            <a href="#">Sources</a>
            <a href="#">Forks</a>
            <a href="#">Mirrors</a>
          </section>
            <button type="button" class="new-repo"><span class="octicon octicon-repo"></span> New</button>
        </section>
      </nav>
      <ul class="repos">
      </ul>
    </main>
    <script type="text/template" id="header">
      <a><img src=<%= avatar_url %> alt="a picture of Timothy Gass" /><span class="octicon octicon-triangle-down" id="last"></span></a>
    </script>
    <script type="text/template" id="profile">
      <img src=<%= avatar_url %> alt="a picture of Timothy Gass" />
      <h1>  <%= name %> </h1>
      <h2> <%= login %> </h2>
      <h6> <%= location %> </h6>
      <h6> Joined on <%= month %>/<%= day %>/<%= year %></h6>
      <a href=#> <strong><%= followers %></strong> Followers </a>
      <a href=#> <strong><%= starred %></strong> Starred </a>
      <a href=#> <strong><%= following %></strong> Following </a>
      <h4> Organizations <%= organizations %></h4>
    </script>
    <script type="text/template" id="repos">
        <li class="repo-name">
          <a href=<%= html_url %> > <%= name %></a>
          <section class="repo-stats">
            <p>
              <%= language %>
              <span class="octicon octicon-star"></span>
              <%= stargazers_count %>
              <span class="octicon octicon-git-branch"></span>
              <%= forks_count %>
            </p>
          </section>
          <p> updated <%= gitTime(updated_at) %> </p>
        </li>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js">
    </script>
    <script src="token.js">
    </script>
    <script src="main.js">
    </script>
  </body>
</html>
