html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 10.66226%; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  body h6 {
    font-size: 14px; }
  body ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 51.17883%;
    list-style-type: none; }
    body ul:last-child {
      margin-right: 0; }
    body ul li.repo-name {
      padding: 40px 0px;
      border-top: 1px solid #DDDDDD; }
      body ul li.repo-name:last-of-type {
        border-bottom: 1px solid #DDDDDD; }
      body ul li.repo-name a {
        text-decoration: none;
        color: #4078C0;
        font-size: 24px; }
